.navbar-selected-icon {
    color: #58C6CD;
}

.icon-navbar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
    user-select: none;
    padding: .8rem 1rem;
    height: 35px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    outline: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.icon-navbar p {
    font-size: 0.75rem;
}

.btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    border: none;
    user-select: none;
    padding: .6rem 1rem;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, .16) 0 3px 6px, rgba(0, 0, 0, .2);
    height: 35px;
    border: 4px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    outline: none;
    width: 100%;
    height: 100%;
}

.btn-ripple {
    overflow: hidden;
}

.ripple-effect {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    pointer-events: none;
    z-index: 5;
    animation: ripple .7s linear infinite;
    background-color: #fff;
}

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: .4;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}